[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[fr]=PLEASE INSERT YOUR TRANSLATION HERE
Name=defaultbrowser
Exec=defaultbrowser
Icon=/usr/share/pixmaps/puppy/internet.svg
