[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=true
Name[fr]=PLEASE INSERT YOUR TRANSLATION HERE
Name=defaultspreadsheet
Exec=defaultspreadsheet
Icon=/usr/share/pixmaps/puppy/spreadsheet.svg
