[Desktop Entry]
Encoding=UTF-8
Name=HardInfo: hardware information
Name[fr]=HardInfo : informations matérielles
Comment=HardInfo: hardware information
Comment[fr]=HardInfo : informations matérielles
Exec=hardinfo
Icon=hardinfo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=X-System
GenericName=HardInfo: hardware information
