[Desktop Entry]
Encoding=UTF-8
Name=MoManager create non-English Puppy
Name[fr]=Traduire les fichiers pour une version multi-langues
Icon=chooselocale.xpm
Comment=MoManager create non-English translations
Exec=momanager
Terminal=false
Type=Application
Categories=X-Utility-development
GenericName=MoManager