[Desktop Entry]
Name=Parcellite: clipboard manager
Name[ca]=Parcellite
Name[cs]=Parcellite
Name[da]=Parcellite
Name[de]=Parcellite
Name[es]=Parcellite
Name[fr]=Parcellite : gestionnaire de presse-papier
Name[hu]=Parcellite
Name[it]=Parcellite
Name[ja]=Parcellite
Name[nb]=Parcellite
Name[pl]=Parcellite
Name[pl_PL]=Parcellite
Name[ro]=Parcellite
Name[sv]=Parcellite
Name[zh_CN]=Parcellite
Comment=Clipboard manager
Comment[ca]=Gestor del porta-retalls
Comment[cs]=Správce schránky
Comment[da]=Udklipsholder
Comment[de]=Verwaltung der Zwischenablage
Comment[es]=Gestor de Portapapeles
Comment[fr]=Gestionnaire de presse-papier
Comment[hu]=Vágólapkezelő
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボード・マネージャ
Comment[nb]=Utklippstavleverkty
Comment[pl]=Schowek
Comment[pl_PL]=Menadżer schowka
Comment[pt_BR]=Gerenciador de Área de Transferência
Comment[ro]=Administrator clipboard
Comment[ru]=Менеджер буфера обмена
Comment[sv]=Urklippshanterare
Comment[tr]=Pano Yöneticisi
Comment[zh_CN]=剪切板管理器
Icon=parcellite.svg
Exec=parcellite
Terminal=false
Type=Application
Categories=Utility
GenericName=Glipper: clipboard manager
