[Desktop Entry]
Encoding=UTF-8
Name=Pmount: mount/unmount drives
Name[fr]=Pmount : montage des partitions
Icon=/usr/share/pixmaps/puppy/harddisk.svg
Comment=Pmount: mount/unmount drives
Comment[fr]=Pmount : montage des partitions
Exec=pmount
Terminal=false
Type=Application
Categories=X-Filesystem-mount
GenericName=Pmount: mount/unmount drives