[Desktop Entry]
Encoding=UTF-8
Name=QuickSetup: first-run settings
Name[fr]=QuickSetup : paramètres de démarrage
Icon=/usr/share/pixmaps/puppy/puppy_config.svg
Comment=QuickSetup: first-run settings
Comment[fr]=QuickSetup : paramètres de démarrage
Exec=quicksetup
Terminal=false
Type=Application
Categories=X-Setup-puppy
GenericName=QuickSetup: first-run settings
