[Desktop Entry]
Encoding=UTF-8
Name[fr]=Jeu de cube Rubix cube
Name=Rubix cube
Icon=cube16.xpm
Comment=Rubix cube
Exec=rubix
Terminal=false
Type=Application
Categories=Game
GenericName=Rubix cube
