[Desktop Entry]
Encoding=UTF-8
Name=SlimBoat: web browser
Name[fr]=SlimBoat : navigateur internet
Icon=/usr/share/pixmaps/slimboat.png
Comment=SlimBoat: web browser
Comment[fr]=SlimBoat : navigateur internet
Exec=slimboat
Terminal=false
Type=Application
Categories=X-Internet
GenericName=SlimBoat: web browser
