[Desktop Entry]
Version=0.4
Encoding=UTF-8
Name=Valide
Type=Application
MimeType=text/x-vala;application/x-vide;
Name[be]=Valide
Name[bg]=Valide
Name[ca]=Valide
Name[cs]=Valide
Name[de]=Valide
Name[el]=Valide
Name[en_GB]=Valide
Name[es]=Valide
Name[fi]=Valide
Name[fr]=Valide
Name[fr_FR]=valide
Name[hu]=Valide
Name[it]=Valide
Name[ja]=Valide
Name[nl]=Valide
Name[pl]=Valide
Name[pt_BR]=Valide
Name[ro]=Valide
Name[ru]=Valide
Name[sv]=Valide
Name[uk]=Valide
Name[vi]=Valide
Name[zh_CN]=Valide
GenericName=Integrated Development Environment
GenericName[bg]=Вградена среда за разработка
GenericName[ca]=Entorn Integrat de Desenvolupament
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[el]=Ενιαίο Περιβάλλον Ανάπτυξης
GenericName[en_GB]=Integrated Development Environment
GenericName[es]=Entorno Integrado de Desarrollo
GenericName[fi]=Integroitu Ohjelmointiympäristö
GenericName[fr]=Environnement de Développement Intégré
GenericName[hu]=Integrált Fejlesztői Felület
GenericName[it]=Ambiente di sviluppo integrato
GenericName[ja]=統合開発環境
GenericName[pl]=Zintegrowane środowisko programistyczne
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado
GenericName[ro]=Mediu de dezvoltare
GenericName[ru]=Интегрированная среда разработки
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[uk]=Об'єднане середовище розробки
GenericName[vi]=Môi trường Phát triển Hợp nhất
GenericName[zh_CN]=集成开发环境
Exec=valide %F
Icon=/usr/share/pixmaps/valide/icone-32.xpm
Terminal=false
Categories=Development;IDE;
StartupNotify=true
