[Desktop Entry]
Encoding=UTF-8
Name=pCD: CD-audio player
Name[fr]=pCD : lecteur de CD audio
Icon=mini-cd.xpm
Comment=pCD: CD-audio player
Comment[fr]=pCD : lecteur de CD audio
Exec=pcd
Terminal=false
Type=Application
Categories=Audio
GenericName=pCD: CD-audio player
