[Desktop Entry]
Encoding=UTF-8
Name=Pschedule: task on time
Name[fr]=Pschedule : planificateur de tâches
Icon=/usr/share/pixmaps/puppy/clock_interval.svg
Comment=Pschedule: task on time
Comment[fr]=Pschedule : planificateur de tâches
Exec=/usr/local/bin/pschedule
Terminal=false
Type=Application
Categories=X-SystemSchedule
GenericName=Pschedule: task on time
