[Desktop Entry]
Encoding=UTF-8
Name=Urxvt: terminal emulator
Name[fr]=Urxvt : émulateur de terminal
Icon=/usr/share/pixmaps/puppy/terminal.svg
Comment=Urxvt: terminal emulator
Comment[fr]=Urxvt : émulateur de terminal
Exec=urxvt
Terminal=false
Type=Application
Categories=TerminalEmulator
GenericName=Urxvt: terminal emulator
